.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.blackCell {
	background-color: rgb(122, 122, 122);
}

.whiteCell {
	background-color: beige;
}

.cell {
	width: 60px;
	height: 60px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid black; */
}

.board {
	margin: auto;
}

.pieceImg {
	width: 50px;
}

.dot {
	background-color: rgba(132, 148, 110, 0.74);
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
}

.click {
	cursor: pointer;
}
